/* This will be used later on for formatting. For now only did the rough layout for the website*/

/* Basic CSS for the website */

/* Basic formatting for the body */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin-inline: auto; /* Center the body content */
}

/* Basic formatting for main stuff */
header{
    background-color: #004e42 !important;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px; /* Padding around the header */
    margin-left: 200px; /* Adjusted to account for navbar width */
    /* Ensures header is not hidden behind the navbar */
}

/* Formatting for the navbar */
.navbar{
    background-color: #004e42 !important;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
}

/* .navbar ul formatting */
.navbar ul{
    display: block;
    list-style-type: none;
    padding: 0;
}

/* .navbar a formatting */
.navbar a{
    color: white; /* Text color for links */
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

/* .navbar a:hover formatting */
.navbar a:hover{
    background-color: hsl(118, 100%, 6%);
}

/* .navbar li formatting */
.navbar li{
    float: none;
    width: 100%;
    text-align: center;
}

/* .navbar li:hover formatting */
.navbar li:hover{
    background-color: hsl(0, 0%, 10%);
}

/* Formatting for the main content area */
.maincontent{
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
    margin: 20px;
    margin-left: 220px; /* Adjusted to account for navbar width */
}

footer{
    background-color: #004e42 !important;
    color: white; /* Change to a color that contrasts with the background */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}