/* CSS for the Slurry-Site project */

/* Basic formatting for the body */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin-inline: auto; /* Center the body content */
}

/* Basic formatting for main stuff */
h1{
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    margin-left: 220px; /* Adjusted to account for navbar width */
}

/*-------------------------------------------------------------------*/

/* Formatting for the navbar */
.navbar{
    background-color: hsl(0, 0%, 25%);
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
}

/* .navbar ul formatting */
.navbar ul{
    display: block;
    list-style-type: none;
    padding: 0;
}

/* .navbar a formatting */
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

/* .navbar a:hover formatting */
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

/* .navbar li formatting */
.navbar li{
    float: none;
    width: 100%;
    text-align: center;
}

/* .navbar li:hover formatting */
.navbar li:hover{
    background-color: hsl(0, 0%, 10%);
}

/*-------------------------------------------------------------------*/

/* Formatting for the main content area */
.maincontent{
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
    margin: 20px;
    margin-left: 220px; /* Adjusted to account for navbar width */
}

/* Formatting for the table. Makes it one table instead of multiple small ones.*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Formatting for table headers and cells */
table, th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #f2f2f2;
    color: #333;
}

/*-------------------------------------------------------------------*/

/* Formatting for the footer */
footer{
    background-color: hsl(0, 0%, 25%);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}